<tabs-group>
  <tab label="tab-1">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti eligendi
    aliquam tempora velit molestiae facilis.
  </tab>
  <tab label="tab-2">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi fuga quas ab
    laboriosam nihil incidunt esse totam adipisci cumque blanditiis, molestias
    magnam aut? Voluptatibus, sint quasi magni saepe, laudantium autem esse non
    distinctio, voluptatem quas laborum mollitia. Deleniti maxime provident
    eveniet aspernatur quos voluptates autem vitae omnis nostrum impedit.
    Asperiores.
  </tab>
  <tab label="tab-3">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste quam eligendi
    officia recusandae corporis alias quod, ducimus facilis error, doloremque
    earum suscipit esse corrupti illum similique consectetur. Id officia illum
    reprehenderit maiores necessitatibus veritatis exercitationem praesentium?
    Laboriosam voluptas ipsa odit accusantium vel fuga architecto, molestiae
    itaque ducimus perferendis excepturi, tempore debitis explicabo laborum
    reiciendis. Eum cupiditate reiciendis natus laborum! Hic vitae omnis
    asperiores, dolor pariatur rerum, velit aut fugiat obcaecati temporibus
    labore neque voluptate! Ducimus quod quibusdam ex, quisquam tempore incidunt
    sunt porro architecto, id accusantium ipsum nesciunt mollitia! Quas
    mollitia, nesciunt nobis consequatur earum dolorum molestias architecto
    corrupti sed!
  </tab>
</tabs-group>
