<div class="wrap">
  <div class="container">
    <h1>Angular Components</h1>
    <p>Тренируемся создавать компоненты и практикуем работу с DOM в Angular</p>
  </div>
  <div class="main-content">
    <div class="container">
      <ul class="links">
        <li>
          <button routerLink="/">Пусто</button>
        </li>
        <li>
          <button routerLink="/tabs">tabs</button>
        </li>
        <li>
          <button routerLink="/">14</button>
        </li>
      </ul>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
